@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
h1 {
  text-align: center;
  font-family: "Bowlby One SC", cursive;
  width: 320px;
  height: 320px;
  background: pink;
  margin: 0 auto;
}