* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    background: green;
}

img {
    max-width: 100%;
    box-shadow: 0 0 3px #B0BEC5;
}

article {
    background: #ECEFF1;
    border-radius: 4px;
    overflow: hidden;
    font: 12px/1.1 system-ui, sans-serif;
}

article a {
    text-decoration: none;
    color: #455A64;
}

article a:hover,
article a:focus {
    color: #2196F3;
}

article h2 {
    padding: 1rem 1rem;
    margin: 0;
}